<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Probability and Statistics</title>
  <link rel="stylesheet" href="/css/landing.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></head>
<body>
    <div>
        <div class="home-container">
          <header data-role="Header" class="home-header">
            <img src="/images/logo.png" style="height: 80px;" alt="">
            <h1>R-Prob Elite</h1>
           
          </header>
          <h1 style="font-size: 40px; margin-bottom: 100px;">COIVD-19 Analysis </h1>
          <section class="Main">
        
            <div class="content">
              <h1 style="margin-bottom: 2PX;">Introduction</h1>
             <p align=”justify”>Welcome to our COVID-19 Data Analysis Application!. Explore visualizations like box plots and histograms for confirmed cases, deaths, recoveries and active cases. Uncover statistical measures such as total cases, median, and IQR. Analyze the Poisson distribution and identify trends. Stay informed and make data-driven decisions with our COVID-19 Data Analysis Application.</p>
              <button ><a href="/dashBoard">Get Started ></a></button>
            </div>
            <div class="img-container"></div>
          </section>
          <!-- Team Section -->
          <div class="responsive-container-block outer-container">
            <div class="responsive-container-block inner-container">
              <p class="text-blk section-head-text">
                Meet Our Team
              </p>
              <p class="text-blk section-subhead-text">
                From FAST NUCES CFD-Campus
              </p>
              <div class="responsive-container-block">
                <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                  <div class="team-card">
                    <div class="img-wrapper">
                      <img class="team-img" src="/images/Team/Talal.png">
                    </div>
                    <p class="text-blk name">
                      Muhammad Talal Amjad
                        <h3 style="margin-bottom: 9px;">Team Leader</h3>
                    </p>
                    <p class="text-blk position">
                      20F-0190
                    </p>
                    <div class="social-media-links">
                      <a href="http://www.twitter.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                      </a>
                      <a href="http://www.facebook.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                      </a>
                      <a href="http://www.instagram.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                      </a>
                      <a href="http://www.gmail.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                  <div class="team-card">
                    <div class="img-wrapper">
                      <img class="team-img" src="/images/Team/ushna.png">
                    </div>
                    <p class="text-blk name">
                      Ushna Yaqoob
                    </p>
                    <p class="text-blk position">
                      20F-0209
                    </p>
                    <div class="social-media-links">
                      <a href="http://www.twitter.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                      </a>
                      <a href="http://www.facebook.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                      </a>
                      <a href="http://www.instagram.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                      </a>
                      <a href="http://www.gmail.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                  <div class="team-card">
                    <div class="img-wrapper">
                      <img class="team-img" src="/images/Team/Talha.png">
                    </div>
                    <p class="text-blk name">
                      Talha Shahid
                    </p>
                    <p class="text-blk position">
                      20F-1050
                    </p>
                    <div class="social-media-links">
                      <a href="http://www.twitter.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                      </a>
                      <a href="http://www.facebook.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                      </a>
                      <a href="http://www.instagram.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                      </a>
                      <a href="http://www.gmail.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                      </a>
                    </div>
                  </div>
                </div>
                <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                  <div class="team-card">
                    <div class="img-wrapper">
                      <img class="team-img" src="/images/Team/Hassan.png">
                    </div>
                    <p class="text-blk name">
                      Hassan Imtiaz
                    </p>
                    <p class="text-blk position">
                      20F-0364
                    </p>
                    <div class="social-media-links">
                      <a href="http://www.twitter.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-twitter.svg">
                      </a>
                      <a href="http://www.facebook.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-fb.svg">
                      </a>
                      <a href="http://www.instagram.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                      </a>
                      <a href="http://www.gmail.com/" target="_blank">
                        <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-mail.svg">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
<hr>
        <footer>
          <h2>Probability</h2>
          <p>copyright @2023</p>
          <div>
            <i class="fa fa-facebook-f" style="font-size:36px"></i>
            <i class="fa fa-twitter-square" style="font-size:36px"></i>
            <i class="fa fa-instagram" style="font-size:36px"></i>
          </div>
        </footer>
      </div>

    <script src="script.js"></script>
</body>
</html>
